*.bak
*.db
*.db-shm
*.db-wal
*.exe
*.log
*.msi
*.suo
*.tmp
*.trx
*.user
*.zip

config.json
coverage.*
eula.txt
server.properties

.vs/
bin/
exports/
logs/
MCServer/
obj/
publish/
TestResults/
world/
world_nether/
world_the_end/
